.figure {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.longdata {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
}