/* Color Palette 
background colour: #fae0bf - Light Peach
#3D5B59 - Dark Teal
#ACC0D3 - Light Blue
#09A1A1 - Bright Teal
#f3b973 - Soft Orange
#D396A6 - Soft Pink
#5484A4 - Medium Blue
*/

/* Styles for the About Me page */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fae0bf;
}

li {
        color: #3D5B59;
}

/* Header Styles */
header {
    text-align: center; 
    background-color: #ACC0D3;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    color: #09A1A1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

header nav li a {
    text-decoration: none;
    color: #5484A4;
}

header nav li a:hover {
    color: #09A1A1;
    text-decoration: underline;
}

#logo {
    float: left;
    height: 280px;
    position: absolute;
    top: 0;
    z-index: 4;
}

/* Footer Styles */
footer p {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: left;
}


/* Introduction Section */

strong {
    color: #3D5B59;
}

#introduction {
    display: flex;
    vertical-align: text-bottom;
    justify-content: center;
    padding: 20px;
    background-color: #f3b973;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
}

#introduction img {
    margin-right: 20px;
    width: 300px;
    height: auto;
    float: left;
}

#introduction p {
    font-size: 20px;
    line-height: 1.2;
    float:right;
    width: 60%;
    margin: 0;
}

#introduction img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
}

#personalinfo {
    text-align: left;
    line-height: 1.5;
    font-size: 22px;
    color: #5484A4;
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
    box-shadow: none;
    background-color: transparent;
}

/* Background Section*/

#background {
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
    background-color: #f3b973;
}

#Education {
    width: 40%;
    background-color: transparent;
    box-shadow: none;

}

#Education li {
    padding-top: 50px;
    list-style-type: none;
}

#Education p{
    float:inline-start;
    width: 90%;
}

#Work {
    position: relative;
    left: 70px;
    background-color: transparent;
    box-shadow: none;
    
}

#Work p{
    float:inline-start;
    width: 80%;
    line-height: 1;
}

#Work li {
    list-style-type: none;
}

.work_experience {
    position: relative;
    left: 70px;
    top: 150px;
}

.education {
    position: relative;
    top: 250px;
}

/* Skills Sections */

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f3b973;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
}

.skills {
    margin-left: 40px;
    margin-right: 80px;
}

#skills li {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    list-style-type: none;
}

span {
    text-decoration: underline;
}

#skills p {
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    color: #5484A4;
    text-align: center;
}

/* Section Styling */
h2 {
    margin-top: 20px;
    font-size: 35px;
    color: #EA6676;
    text-decoration: underline;
    text-align: center;
    clear: left;
    clear: right;
    height: 65px;
    padding-top: 15px;
}

h3 {
    font-size: 30px;
    color: #EA6676;
    margin-bottom: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: relative;
    top: 30px;
}

div {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 20px;
    background-color: #f6c992;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;

}

p {
    font-size: 20px;
    line-height: 1.2;
    width: 60%;
    color: #5484A4;
    text-align: center;
}

div li {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
    list-style-type: square;
}

#section1 {
    position: sticky;
    top: 25px;
    z-index: 0.2;
}

#section2 {
    position: sticky;
    top: 25px;
    z-index: 0.4;
}

#section3 {
    position: sticky;
    top: 25px;
    z-index: 0.6;
}

#section4 {
    position: sticky;
    top: 25px;
    z-index: 0.8;
}

/*Hobbies Section*/

#hobbies {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f3b973;
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
}   
#hobbies img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #ACC0D3, 0 6px 20px 0 #D396A6;
}

#hobbies li{
    list-style-type: none;
    padding-top: 20px;
}

#hobbies p{
    position: relative;
    left: 230px;    
}

figure {
    display: inline-block;
}

figcaption {
    color:white;
    background-color: rgba(0, 0, 0, 40%);
    position:relative;
    top: -40px;
    left:10px;
    width: 300px;
}

.hobbies {
    margin-left: 20px;
    margin-right: 45px;
    text-align: center;
    width: 200px;
}


/* Footer Section */

footer {
    position: relative;
    left: 425px;

}