/* Color Palette 
background colour: #fae0bf - Light Peach
#3D5B59 - Dark Teal
#ACC0D3 - Light Blue
#09A1A1 - Bright Teal
#f3b973 - Soft Orange
#D396A6 - Soft Pink
#5484A4 - Medium Blue
*/

/* Styles for the About Me page */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fae0bf;
}

li {
        color: #3D5B59;
}

/*Heading Styles */

.sectiontitle {
    text-align: center;
    color: #3D5B59;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D396A6;
}

h1, h2, h3, h4 {
    color: #3D5B59;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

/* Header Styles */
header {
    text-align: center; 
    background-color: #ACC0D3;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    color: #09A1A1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

header nav li a {
    text-decoration: none;
    color: #5484A4;
}

header nav li a:hover {
    color: #09A1A1;
    text-decoration: underline;
}

#logo {
    float: left;
    height: 280px;
    position: absolute;
    top: 0;
    z-index: 4;
}

/* Footer Styles */
footer {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: left;
    color:#09A1A1;
}

/* Website Link Styles */

.website_link {
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    background-color: #D396A6;
    width: 250px;
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    float: left;
}

.website_link h2 {
    font-size: 24px;
    color: #077272;
    height: 30px;
}

.website_link p {
    font-size: 16px;
    color: #3a5d74;
    text-align: justify;
}

.website_link img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline #077272;
}
