/* Color Palette 
background colour: #fae0bf - Light Peach
#3D5B59 - Dark Teal
#ACC0D3 - Light Blue
#09A1A1 - Bright Teal
#f3b973 - Soft Orange
#D396A6 - Soft Pink
#5484A4 - Medium Blue
*/

/* Styles for the About Me page */
body {
    background-color: #fae0bf;
}

/*Startup logo Styles */
#AnimatedLogo {
    width: 105%;
    height:fit-content;
    position: relative;
    top: -300px;
    right: 10px;
    rotate: 5deg;
}
