/* Color Palette 
background colour: #fae0bf - Light Peach
#3D5B59 - Dark Teal
#ACC0D3 - Light Blue
#09A1A1 - Bright Teal
#f3b973 - Soft Orange
#D396A6 - Soft Pink
#5484A4 - Medium Blue
*/

/* Styles for the About Me page */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fae0bf;
}

li {
        color: #3D5B59;
}

/* Header Styles */
header {
    text-align: center; 
    background-color: #ACC0D3;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    color: #09A1A1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

header nav li a {
    text-decoration: none;
    color: #5484A4;
}

header nav li a:hover {
    color: #09A1A1;
    text-decoration: underline;
}


.filter_nav {
    width: 15%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #09A1A1;
    background-color: #ACC0D3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#filter {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    border-radius: 0;
    border-bottom: solid thin #37b225;
}

.filter_header {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #09A1A1;
}

.filter_type {
    font-size: 20px;
    padding: 10px;
    color: #5484A4;
}

#form_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Project Card Styles */
.project_card {
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    background-color: #D396A6;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project_card h2 {
    font-size: 24px;
    color: #09A1A1;
    margin-bottom: 10px;
}

.project_card p {
    font-size: 16px;
    color: #5484A4;
    margin-bottom: 15px;
}