/* Color Palette 
background colour: #fae0bf - Light Peach
#3D5B59 - Dark Teal
#ACC0D3 - Light Blue
#09A1A1 - Bright Teal
#f3b973 - Soft Orange
#D396A6 - Soft Pink
#5484A4 - Medium Blue
*/

/* Styles for the Project Contents page */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f9f3eb;
}


aside {
    width: 15%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #37b225;
    background-color: #dc0f0f;
    color: #ffffcc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#filter {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    border-radius: 0;
    border-bottom: solid thin #37b225;
}

.filter_header {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.filter_type {
    font-size: 20px;
    padding: 10px;
}

#form_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}